// Normalize CSS
@import '../../node_modules/normalize.css/normalize';

// Modular imports
@import 'variables';
@import 'blockquotes';
@import 'code';
@import "technology";

// Font Imports
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}

* {
    color: $font-alternative-color;
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

ol,
ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html,
body {
    height: 100%;
}

/* Placement */

body {
    display: flex;
    flex-direction: column;
    background-color: $background-color;


}

.main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    * {
        width: 80%;
    }

}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes slide-in {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.content-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: $background-alternative-color;
    border-radius: 15px;
    padding: 20px;

    img {
        box-shadow: 100px 10px 5px  rgba(0, 0, 0, 0.75);

        animation: slide-in 2s ease-in-out;

 


    }


    h1 {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        rotate: -45deg;

        // Make the image rotate back and forth
        animation: rotate 2s linear infinite;

        
    }

    p:first-of-type {
        font-style: italic;
        rotate: 5deg;

    }

    p:last-of-type {
        display: flex;
        justify-content: center;
        rotate: 45deg;

        // Slide in animation from the top





        

    }

}



.header,
.footer {
    flex: 0 0 auto;
}

/* Header */

.header,
.site-header {
    display: flex;
    justify-content: space-between;

}

.header {
    color: $font-color;
    background-color: $background-alternative-color;
    box-shadow: rgba(50, 50, 93, 0.25) 1px 2px 5px -1px, rgba(0, 0, 0, 0.3) 1px 1px 3px -1px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 25px;
    padding: 10px;
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;

    a {
        color: $font-color;
    }
}

.header {
    >.nav {
        align-self: flex-end;
    }
}

/* Title */

.title,
.logo {
    padding: 3em 3em 3em 0;
}

.color-boxes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;

}


@media (max-width: 767px) {
    .title,
    .logo {
        padding: 1em 1em 1em 0;
    }

    .title {
        min-width: 50%;
    }

    .logo {
        max-width: 30%;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

        grid-gap: 20px;

        justify-content: center;
        align-content: center;

    }

    .grid-item {
        padding: 20px;
        width: 100%;



        picture {

            width: 400px;
            height: 200px;

            img {
                width: 400px;
                height: 200px;
            }
        }

    }



}

.title {
    * {
        color: $font-color;
    }

    p {
        font-style: italic;
        color: $font-color;

    }
}

/* Footer */

.footer {
    padding: 20px;
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-top: 1px solid #222;
    border-style: dotted;

    .social {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

    }

    a {
        color: #222;
    }

    .social {
        font-size: 2rem;

    }
}

/* Typografy */

body {
    font-family: sans-serif;
    line-height: 1.5rem;
    color: #444;
}

p,
td,
th,
li,
dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.6em;
    font-weight: bold;
}

img {
    max-width: 100%;
}

.me-pic {
    border-radius: 15px;
    width: 30%;
    align-self: center;
    justify-self: center;
}




@media (min-width: 767px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        width: 768px;
        justify-content: center;
        align-content: center;
    }


    .embed {
        margin-top: 50px;
        width: 1000px;
        height: 500px;

    }
}


.grid-item {
    padding: 20px;
    width: 200px;
    height: 200px;

    picture {

        width: 200px;
        height: 200px;
    }

    img {
        width: 200px;
        height: 200px;
    }
}